# Ignore all files
*

# Except the following
!.gitignore
!.env.example
!.python-version
!README.md
!requirements.txt
!gcp_places_api_scraper.py
!wilson_script.py

# Keep the output directory but ignore its contents
!output/
!output/*.json
output/*
!output/.gitkeep
